@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
}

body{
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.main-head{ 
  background-image: url(https://kq-storage.s3.ap-south-1.amazonaws.com/Github/bucketlist/bucket-list-bg%5B1%5D.png);
  width: 100vw;
  height: 40vh;
  background-size: 100% 100%;
  position: absolute;
}
.heading{
  color: white;
font-size: 50px;
position: relative;
text-align: center;
margin-top: 90px;
}
.input-cont{
  position: relative;
  margin-left: -40px;
}
.input{
  width: 270px;
  height: 40px;
  margin-top: 28px;
  border-radius: 30px;
  text-align: left;
  margin-left: 5px;
  overflow: hidden;
}
.btn-submit{
  width: 100px;
  height:45px;
  margin-top:28px;
  border-radius: 30px;
  text-align: center;
  background-color: #F7BE3B;
  font-size: 18px;
  margin-left: -30px;
  position: absolute;
  overflow: hidden;
}
.container{
  position: absolute;
  margin-top: 400px;
  margin-left: 480px;
  height: 80%;
}
#container{
  height: 80%;
  width: 60%;
  margin-top: 20%;
  margin-left: 20%;
}
.bucket{
  line-height: 20px;
  margin-top: 20px;
  font-size: 18px;
  width: 500px;
  position: absolute;
  margin-left: 30px;
}
h2{
  font-size: 33px;
}
.reset{
  background-color: #F7BE3B;
  position: absolute;
  margin-top: 1000px;
  margin-left: -110px;
  width: 250px;
  height: 50px;
  border-radius: 40px;
  border: none;
  font-size: 18px;
  font-weight: bold;
}
.footer{
  position: absolute;
  margin-top: 1050px;
  margin-left: 660px;
}
li{
 
  width: 300px;
  height: 30px;
  border-radius: 20px;
  margin: 10px;
border: 1px solid black;
text-align: left;
}
li img{
  margin-left: 230px;
}